<div class="jumbotron">
  <img class="chris-image" src="../../assets/images/chris.png" alt="">
  <p class="lead">Hi, i'm Chris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia
    deserunt mollit anim id est laborum.</p>
  <br>
  <hr class="my-4">
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore
    magna aliqua. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Odio ut sem nulla pharetra.
  </p>
  <br>
  <hr>
  <br>
  <a target="_blank" href="https://northcoders.com/">
    <img class="northCoders-image" src="../../assets/images/northcoders.png" alt="">
  </a>
  <a target="_blank" href="https://embarkgroup.co.uk/">
    <img class="embark-image" src="../../assets/images/embark.svg" alt="">
  </a>
  <a target="_blank" href="https://rowanmoor.co.uk/">
    <img class="rowanmoor-image" src="../../assets/images/rowanmoor.png" alt="">
  </a>

</div>
