.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  color: rgb(232, 232, 232);
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

hr {
  border-color: rgb(86, 87, 87);
  width: 60%;
}
