<div class="page-content-container">

  <mat-tab-group mat-align-tabs="center" animationDuration="1500ms">
    <mat-tab label="About"><app-about></app-about>></mat-tab>
    <mat-tab label="Portfolio">Content 2</mat-tab>
    <mat-tab label="Contact Me">Content 3</mat-tab>
  </mat-tab-group>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <div class="col-sm-6 offset-sm-3 text-center">
        <a class="fab fa-twitter-square fa-3x" target="_blank" href="https://twitter.com/codes_chris"
          style="color: #1EA0F2;"></a>
        <a class="fab fa-linkedin fa-3x" target="_blank" href="https://www.linkedin.com/in/chris-wray-bab34116a/"
          style="color: #0076B5;"></a>
        <a class="fab fa-github-square fa-3x" target="_blank" href="https://github.com/chrisCodeMonkey"
          style="color: #24292F;"></a>
      </div>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>
