<div class="page-content-container">
  <h3>Chris Wray</h3>
  <h4>Full Stack Developer</h4>
  <mat-tab-group class="nav-tabs" mat-align-tabs="center" animationDuration="1500ms">
    <mat-tab label="About">
      <div class="tab-content">
        <app-about></app-about>
      </div>
    </mat-tab>
    <mat-tab label="Portfolio">
      <div class="tab-content">
        <app-portfolio></app-portfolio>
      </div>
    </mat-tab>
    <mat-tab label="Contact Me">
      <div class="tab-content">
        <app-contact></app-contact>
      </div>
    </mat-tab>
  </mat-tab-group>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <div class="col-sm-6 offset-sm-3 text-center">
        <a class="fab fa-twitter-square fa-2x" target="_blank" href="https://twitter.com/codes_chris"
          style="color: #1EA0F2;"></a>
        <a class="fab fa-linkedin fa-2x" target="_blank" href="https://www.linkedin.com/in/chris-wray-bab34116a/"
          style="color: #0076B5;"></a>
        <a class="fab fa-github-square fa-2x" target="_blank" href="https://github.com/chrisCodeMonkey"
          style="color: #24292F;"></a>
      </div>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>
