/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


/*
Angular Material themes

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css

*/


body {
  background-image: linear-gradient(rgba(77, 66, 82, 0.571), rgba(230, 200, 101, 0.509)), url(src/assets/images/Manchester.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
